body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  margin: 0;
  font-size: 42.5%;
  background-color: #bdb58b;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
  font-family: "Imperator";
  src: url("files/imperator.woff") format("woff");
}

h1 {
  font-family: "Cinzel", serif;
}

h2 {
  font-weight: 700;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

html {
  scroll-behavior: smooth;
}

.navbar {
  backdrop-filter: blur(6px);
  background-color: #bdb58b7a;
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  height: 5vh;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 3;
}

.navbar a {
  color: #000000;
  text-decoration: none;
}

.nav-left a {
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 2.3em;
  /* margin-left: 0.2em; */
  text-shadow: #0000002d 2px 2px 2px;
}

.nav-right a {
  font-weight: 500;
  font-size: 2em;
  padding: 0.5em;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* Hover color change */

.nav-left img {
  width: 3em;
  height: 3em;
}

video {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 70vh;
  top: 0;
  left: 100;
  z-index: -1;
}
.video-wrapper {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}

.landing-wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  height: 30vh;
  background-color: #bdb58b;
}

.landing-text-wrapper {
  color: rgb(0, 0, 0);
  align-self: center;
  min-width: 90%;
}

.landing-text-wrapper p {
  font-size: 2.1em;
  text-align: center;
}

.landing-text-wrapper h1 {
  margin: 0.1em;
  margin-top: -0.7em;
  font-size: 4.5em;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.251);
}
.elements-wrapper {
  display: flex;
  justify-content: space-evenly;
  min-width: 80%;
  gap: 2em;
}
.element {
  padding: 0.5em;
  height: 32em;
  width: 23em;
  background-color: #d9d9d9;
  z-index: 1;
  margin-top: -30vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}
.element img {
  max-width: 100%;
  max-height: 100%;
}
.element h2,
p {
  padding: 0.1em;
  margin: 0;
  text-align: center;
}

.element h2 {
  font-size: 2em;
}

.element p {
  font-size: 1.6em;
  font-weight: 500;
}

.element a {
  text-decoration: none;
  color: white;
}

.element-btn {
  margin-top: 0.2em;
  padding: 0.4em;
  background-color: #5f5f5f;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.element-btn :hover {
  color: #202020;
}

.about-bg {
  background: url(img/aboutus-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

/* .about-bg h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 1em;
  padding: 0;
  text-align: center;
  color: #000000;
  font-size: 4.5em;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.832);
} */

.text-box-wrapper {
  z-index: 15;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12vh;
  height: 100vh;
  width: 90%;
}

.text-box {
  background-color: #e3dfcbe3;
  color: #000000;
  padding: 0.5em;
  width: 68%;
}

.text-box p {
  font-size: 1.9em;
  text-align: justify;
}

.text-box h2 {
  margin: 0;
  font-weight: 700;
  padding-bottom: 0.1em;
  font-size: 2.6em;
  text-align: left;
}

#box1 {
  align-self: flex-start;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}
#box2 {
  align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.text-box-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.social-icons {
  font-size: 2.2em;
  gap: 1em;
}

.social-icons i {
  margin-left: 0.5em;
}

.social-icons i:hover {
  color: white;
}
/*
.artist-bg {
  background: url(img/artist.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.artist-box {
  flex-shrink: 10;
  max-width: 55em;
  margin-right: 20em;
}
.artist-box p {
  background-color: #e3dfcbe3;
  padding: 1em;
  font-size: 2.3em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.artist-box h1 {
  font-size: 4.7em;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}
.filler {
  height: 100vh;
  width: 60%;
}

.contacts-bg {
  background: url(img/contacts.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.contacts-wrapper {
  position: absolute;
  font-size: 1.2rem;
  left: 23rem;
  top: 10rem;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.fb-page {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
  height: 1rem;
} */

/* .filler2 {
  height: 100vh;
  width: 30%;
} */
